Subject: welcome to tilde.team!

hey ~newusername,

welcome to tilde.team!

your new account has been established. you can ssh into tilde.team with
the ssh key you supplied on registration.

your password is "newpassword". please change it when you log in for
the first time. the password is used for imap/smtp auth, not shell login,
which is set to only use ssh key authentication.

to get started, type `motd` at the command prompt to see a few ways to
get started. have fun!

the greatest value of tilde.team is not the services provided by the
server, but rather the interesting and welcoming community built by its
users. this is possible because of people like you who choose to make
this a great place. the best way you can help tilde.team is by working
to support a great system culture. chat on irc; build cool programs and
share them with others; focus on learning, and help others learn; be a
good example for others; have fun!

also, your ~/public_html directory is served at
https://tilde.team/~newusername/
(you can also use https://newusername.tilde.team)

check out our wiki at https://tilde.team/wiki/ for more information (and
maybe help us write a new wiki article:)

our irc is tilde.chat, an irc network connecting several
tilde servers. the `chat` command on your ~team shell will open up
weechat with some nice default configs and plugins.
see our wiki article (https://tilde.team/wiki/?page=irc)
or https://tilde.chat site for information on how to connect from elsewhere.
we also have a webclient at https://irc.tilde.team that you can
register for by running the `webirc` command from a shell session.

we look forward to seeing you around! welcome to the ~team!

~tilde.team admins

