Subject: welcome to tilde.team!

hey ~newusername,

welcome to tilde.team!

your new account has been established. you can ssh into tilde.team with
the ssh key you supplied on registration.

your password is "newpassword". please change it when you log in for
the first time. the password is used for imap/smtp auth, not shell login,
which is set to only use ssh key authentication.

the greatest value of tilde.team is not the services provided by the
server, but rather the interesting and welcoming community built by its
users. this is possible because of people like you who choose to make
this a great place. the best way you can help tilde.team is by working
to support a great system culture. chat on irc; build cool programs and
share them with others; focus on learning, and help others learn; be a
good example for others; have fun!

your ~/public_html directory is served at https://tilde.team/~newusername/
(you can also use https://newusername.tilde.team). see https://tilde.wiki/?page=tildepages
for more info.

check out our wiki at https://tilde.wiki/ for more information (and
maybe help us write a new wiki article:)

our irc is tilde.chat, an irc network connecting several
tilde servers. see our wiki article (https://tilde.team/wiki/?page=irc)
or https://tilde.chat site for information on how to connect from elsewhere.

note that when you first log in, you'll enter a byobu session, which is a terminal
multiplexer (see https://superuser.com/a/423397/866501 for info) with weechat and
mutt already open for you. if you're familiar with tmux, you can use it as usual,
replacing ctrl-b with ctrl-a. otherwise, you can disable the autolaunch with the
byobu-disable command. feel free to holler on the mailing list or on irc if you
have any questions or need help!

we look forward to seeing you around! welcome to the ~team!

~tilde.team admins

