Subject: welcome to tilde.club!

hey ~newusername,

welcome to tilde.club!

your new account has been established. you can ssh into tilde.club with
the ssh key you supplied on registration.

your password is "newpassword". please change it when you log in for
the first time by running the passwd command. the password is used for 
imap/smtp/webmail auth, not shell login.

the greatest value of tilde.club is not the services provided by the
server, but rather the interesting and welcoming community built by its
users. this is possible because of people like you who choose to make
this a great place. the best way you can help tilde.club is by working
to support a great system culture. chat on irc; build cool programs and
share them with others; focus on learning, and help others learn; be a
good example for others; have fun!

your ~/public_html directory is served at https://tilde.club/~newusername/

check out our wiki at https://tilde.club/wiki/ for more information (and
maybe help us write a new wiki article:)

our irc is tilde.chat, an irc network connecting several tilde servers. 
run the `chat` command at your shell to start up weechat (a terminal-based
irc client) auto-connected and joined to #club. see the https://tilde.chat 
site for information on how to connect externally if you prefer that instead.

we look forward to seeing you around! welcome to the ~club!

your tilde.club admins,
~benharri and ~deepend

